SUPABASE_PROJECT_ID="scgfynjpglshrqroqrjk"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_oOZ4zMBPYIgJNi67MaDw7A_tWvl8_yg" 
SUPABASE_URL="https://scgfynjpglshrqroqrjk.supabase.co" 
VITE_SUPABASE_PROJECT_ID="phpuoanscgfynjpglshrqroqrjk"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_oOZ4zMBPYIgJNi67MaDw7A_tWvl8_yg"
VITE_SUPABASE_URL="https://scgfynjpglshrqroqrjk.supabase.co"
VITE_DEMO_MODE="false"
VITE_LOCAL_AGENT_URL="http://localhost:4567"
 